<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IBM Task(Python)</title>
</head>
<body>
  <h1 style="width:50%;text-align:center">Python Task statistics</h1>
  <table style="width:50%">
    <tr>
      <th>Total Training Examples</th>
      <td>{{output['train_examples']}}</td>
    </tr>
    <tr>
      <th>Total Test Examples</th>
      <td>{{output['test_examples']}}</td>
    </tr>
    <tr>
      <th>Total Features</th>
      <td>{{output['n_features']}}</td>
    </tr>
    <tr>
      <th>Accuracy</th>
      <td>{{output['accuracy']}}</td>
    </tr>
  </table>
</body>
</html>
